<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comidas</title>

    <!--CSS-->
    <link href="C:\Users\54344\Desktop\again\css\comidas.css" rel="stylesheet" img="" type="text/css">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo"><img src="C:\Users\54344\Desktop\again\css\img\logo.jpeg" alt=""></div>
    </header>


    <main>
        <H1>COMIDAS</H1>
        <div class="content-card">
            <div class="descripcion">
                <p class="info">DESAYUNO</p>
            </div>
            <img src="C:\Users\54344\Desktop\again\css\img\comidas\desayuno.jpg" alt="Imagen Desayuno">
        </div>
        <div class="content-card">
            <div class="descripcion">
                <p class="info">ALMUERZO</p>
            </div>
            <img src="C:\Users\54344\Desktop\again\css\img\comidas\almuerzo.jpg" alt="Imagen Desayuno">
        </div>
        <div class="content-card">
            <div class="descripcion">
                <p class="info">MERIENDA</p>
            </div>
            <img src="C:\Users\54344\Desktop\again\css\img\comidas\merienda.jpg" alt="Imagen Desayuno">
        </div>
        <div class="content-card">
            <div class="descripcion">
                <p class="info">CENA</p>
            </div>
            <img src="C:\Users\54344\Desktop\again\css\img\comidas\cena.jpg" alt="Imagen Desayuno">
        </div>
        
</main>
</body>
</html>